@charset "utf-8";
/*
.gfc-tabsArea {
}

.gfc-tabHeader {
	font-size: 10.5pt;
}
.gfc-tabhActive {
	font-weight: bold;
	background: #FFF;
	line-height: 1.3em;
}

.gfc-tabHeader.gfc-tabhInactive {

}

.gfc-resultsRoot {

}

.gfc-resultsRoot.gfc-tabData {

}

.gfc-resultsRoot.gfc-tabdActive {

}

.gfc-resultsbox-visible {

}

.gfc-resultsHeader {

}

.gfc-resultsHeader.gfc-title {

}

.gfc-results {

}

.gfc-result {

}

.gf-result {
	list-style: disc;
	line-height: 1.3em;
	margin-bottom: 15px;
}

.gfc-result .gf-title {
	font-weight: bold;
	overflow: visible;
	height: auto;
	font-size: 11pt;
	line-height: 1.2em;
	margin-top: 15px;
}

.gfc-result .gf-relativePublishedDate {
}

.gfc-result .gf-snippet {
}
 */